<div class="container">
  <h3>Tous les abonnements</h3>
  <br>
  <% @memberships.each do |membership| %>
    <div>
      <div>titre du groupe: <%= membership.group.title %></div>
      <div>Membre: <%= membership.user.email %></div>
      <div>Date d'adhésion: <%= membership.created_at %></div>
      <div> <%= link_to 'Voir abonnement', membership_path(membership.id) %></div>
      <br>
    </div>
  <% end %>
</div>