<div>
  <ul>
    <li>Numéto de l'article: <%= @article.id %></li>
    <li>Titre de l'article: <%= @article.title %></li>
    <li>Contenu de l'article: <%= @article.content %></li>
    <li>Auteur: <%= @article.user.email %></li>
  </ul>
</div>